/*--------------------------------------
MAIN STYLE
---------------------------------------*/

/* .edit-state elements are visible
when the user is allowed to edit the profile */
.edit-state{
    display: none;
}
/* .no-edit-state elements are visible when
the user is NOT allowed to edit the profile - default state */
.no-edit-state{
    padding-top: 7px;
}

.empty-field{
    border-bottom: 1px solid #B9B9B9;
    height: 32px;
}
.separator{
    border-bottom: 2px solid #CB4335;
    margin-top: 30px;
    margin-bottom: 30px;
}
.row section{
    margin-top:30px;
}
.profile-container .buttons-container{
    padding-top: 10px;
}
/*--------------------------------------
MAIN PROFILE STYLE
---------------------------------------*/
.profile-container{
    background-color: #fff;
    padding: 20px 35px;
}
.profile-container input{
    background-color: #f2f2f2;
}
.profile-container .empty-avatar{
    height: 180px;
}
.profile-container .border-bottom{
    border-bottom: 1px solid;
    padding-bottom: 20px;
}
.empty-avatar{
    font-size: 120px;
    text-align: center;
    padding-top: 20px;
}
.empty-field .control-label{
    color: #7e7e7e;
}
.name-placeholder{
    font-size: 35px;
    letter-spacing: 1px;
    margin-right: 15px;
    color: #485050;
    font-family: robotoslab-regular;
}
.name-placeholder:first-child{
    border-bottom: 3px solid #c0392b;
}
/* --- GENERAL TEXT STYLE --- */
.alumni,
.passion,
.status,
.section-title{
    letter-spacing: 1px;
}
.status,
.passion,
.section-title{
    font-size: 18px;
    font-family: robotoslab-regular;
}
/* --- GENERAL ICONS SPACING --- */
.glyphicon,
.fa{
    padding-right: 10px;
}
.btn .glyphicon{
    padding: 0;
}

/* --- SECTION --- */
.section-title{
    padding-top: 8px;
}
.section-subtitle{
    font-family: robotoslab-light;
    padding-top: 12px;
}
/* --- PASSION --- */
.passion{
    background: #34495e;
    color: #fff;
    text-align: center;
    margin-top: -50px;
    padding: 20px 0;
    font-size: 22px;
}
.passion i{
    padding: 0 10px;
    font-size: 15px;
}
/* --- STATUS --- */
.status .col-sm-1{
    padding-right: 0;
}
.status .col-sm-11{
    padding-left: 0;
}
/* --- ALUMNI --- */
.alumni{
    line-height: 32px;
    padding-top: 8px;
    font-family: lato-heavy;
}
.alumni div{
    line-height: 25px;
    display: inline;
    padding-left: 5px;
}
.alumni img{
    height: 20px;
    margin-top: -10px;
}
/* --- LOCATION --- */
.location{
    font-family: lato-medium;
    font-size: 16px;
}
/*--------------------------------------
SOCIAL STYLE
---------------------------------------*/
.social{
    /* padding-left: 20px; */
    /* padding-right: 20px; */
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 30px;
}
.social a{
    color: #333;
    text-align: center;
}
.social a:hover{
    cursor: pointer;
}
.social a:hover i{
    border-bottom: 3px solid #c0392b;
}
.social input{
    margin-bottom: 15px;
}
.social .social-element{
    font-size: 30px;
    display: inline;
    text-align: center;
    margin: 0 2px;
    padding: 3px;
}
.social .social-element i{
    padding: 0;
}


/*--------------------------------------
EXPERIENCE STYLE
---------------------------------------*/
#experienceContainer{
    margin-bottom: 50px;
}

#pastPositions .edit-state{
    display: none;
}
.edit-position{
    height: 260px;
}
.section-header-frame{
    font-family: "robotoslab-bold";
    padding: 10px 0;
    color: #333;
    font-size: 32px;
    text-align: center;
    background: #FFF;
    letter-spacing: 1px;
    padding: 30px 0;
    line-height: 25px;
}

form.new-position{
    display: none;
}
.profile-container-entity:not(:first-child) {
    border-top: 1px solid #DADFE1;
    /* padding-bottom: 10px; */
}
.profile-container-entity{
    padding: 30px 0 10px 0;
}
.profile-container-entity .buttons-container{
    visibility: hidden;
}
.profile-container-entity:hover .buttons-container{
    visibility: visible;
}

.delete-position{
    text-align: right;
}
.delete-position button{
    margin-top: -146px;
}
.position-title{
    font-family: "robotoslab-bold";
    font-size: 20px;
}
.position-location{
    font-family: "robotoslab-regular";
}
.position-date{
    color: #95A5A6;
    font-family: "robotoslab-light";
}
.position-summary{
    font-size: 16px;
    margin: 10px auto 0px auto;
}
/*--------------------------------------
RESULT ITEM - FOR AJAX QUERIES
---------------------------------------*/
.result-item{
    padding: 5px 20px;
    line-height: 34px;
    color: #fff;
    border-radius: 3px;
    margin-right: 4px;
    cursor: pointer;
}
#skillTopVal .result-item,
#skillSecondaryVal .result-item{
    background-color: #c0392b;
}