.profile-name{
  color: #c0392b;
  font-size: 21px;
  font-weight: bold;
  letter-spacing: 1px;
}
.current-title{
  color: #333;
  font-size: 16px;
  letter-spacing: 0.2px;
  font-weight: bold;
}
.current-description{
  color: #333;
  text-align: justify;
  margin-top: 10px;
}
