/*-----------------------------------------------------------------------------------
                                   --- ROBOTO SLAB ---
-----------------------------------------------------------------------------------*/

/* --- Roboto Slab Bold --- */
.robotoslab-bold{
    font-family: "robotoslab-bold";
}
@font-face{
    font-family: "robotoslab-bold";
    src: url("../fonts/Roboto Slab/RobotoSlab-Bold.ttf");
}

/* --- Roboto Slab Light --- */
.robotoslab-light{
    font-family: "robotoslab-light";
}
@font-face{
    font-family: "robotoslab-light";
    src: url("../fonts/Roboto Slab/RobotoSlab-Light.ttf");
}

/* --- Roboto Slab Regular --- */
.robotoslab-regular{
    font-family: "robotoslab-regular";
}
@font-face{
    font-family: "robotoslab-regular";
    src: url("../fonts/Roboto Slab/RobotoSlab-Regular.ttf");
}

/* --- Roboto Slab Thin --- */
.robotoslab-thin{
    font-family: "robotoslab-thin";
}
@font-face{
    font-family: "robotoslab-thin";
    src: url("../fonts/Roboto Slab/RobotoSlab-Thin.ttf");
}

/*-----------------------------------------------------------------------------------
                                   --- LATO ---
-----------------------------------------------------------------------------------*/
/* --- Lato Medium --- */
.lato-medium{
  font-family: "lato-medium";
}
@font-face{
  font-family: "lato-medium";
  src: url('../fonts/Lato/Lato-Medium.ttf');
}
/* --- Lato Regular --- */
.lato-regular{
    font-family: "lato-regular";
}
@font-face{
    font-family: "lato-regular";
    src: url('../fonts/Lato/Lato-Regular.ttf');
}
/* --- Lato Heavy --- */
.lato-heavy{
  font-family: "lato-heavy";
}
@font-face{
  font-family: "lato-heavy";
  src: url('../fonts/Lato/Lato-Heavy.ttf');
}
/* --- Lato Light --- */
.lato-light{
  font-family: "lato-light";
}
@font-face{
  font-family: "lato-light";
  src: url('../fonts/Lato/Lato-Light.ttf');
}
/* --- Lato Light Italic --- */
.lato-light-italic{
  font-family: "lato-light-italic";
}
@font-face{
  font-family: "lato-light-italic";
  src: url('../fonts/Lato/Lato-LightItalic.ttf');
}

