/*--------------------------------------
MAIN STYLE
---------------------------------------*/
header{
    /*box-shadow: 0 4px 4px 4px rgba(6,8,8,0.15);*/
    margin-bottom: 50px;
}

header,
header a{
    color: #fff;
}
/*--------------------------------------
MAIN HEADER
---------------------------------------*/
#mainHeader{
    height: 70px;
}

header img {
    height: 68px;
    padding: 10px 0;
}
/*--------------------------------------
SECONDARY HEADER
---------------------------------------*/
#secondaryHeader{
    height: 28px;
    line-height: 28px;
    background-color: #CB4335;
}
/*--------------------------------------
OVERRIDE BOOTSTRAP
---------------------------------------*/
header li .glyphicon{
    padding-bottom: 6px;
}
/*--------------------------------------
LIST LIKE STRUCTURE
---------------------------------------*/
.list-horizontal .list-element{
    display: inline-block;
    line-height: 70px;
}
.list-element:hover{
    background: #e74c3c;
}
.list-element .dropdown{
    background-color: transparent;
    cursor: pointer;
}
.list-element > a,
.list-element .dropdown-toggle{
    padding-right: 20px;
    padding-left: 20px;
}