{% load staticfiles %}

{% block header_block %}
    <header>
        <div id="mainHeader">
            <div class="max-width-980">
                <div class="list-horizontal">
                    <div class="list-element">
                        <a href="{% url 'account_app.views.index' %}">
                            {% if request.resolver_match.url_name == 'index' %}
                                <img src="{% static "images/logos/effectlogo-full-white.png" %}" />
                            {% else %}
                                <img src="{% static "images/logos/effectlogo-full-grey.png" %}" />
                            {% endif %}
                        </a>
                    </div>
                    <div class="list-element">
                        {% if user.is_authenticated %}
                            <div class="dropdown">
                                <div class="dropdown-toggle" type="button" data-toggle="dropdown">
                                    {{ user }}
                                    <span class="caret"></span>
                                </div>
                                <ul class="dropdown-menu">
                                    <li><a href="/account/profile">Προφίλ</a></li>
                                    <li><a href="/account/logout">Αποσύνδεση</a></li>
                                </ul>
                            </div>
                        {% else %}
                            <a href="/account/connect"><span>ΛΟΓΑΡΙΑΣΜΟΣ</span></a>
                        {% endif %}
                    </div>
                    {% if request.resolver_match.url_name = 'index' or request.resolver_match.url_name = 'personal_profile' %}
                        <div class="list-element pull-right">
                            <a href="#">Για Υποψήφιους</a>
                        </div>
                        <div class="list-element pull-right">
                            <a href="#">Για Εταιρείες</a>
                        </div>
                        <div class="list-element pull-right">
                            <a href="#">Για την Effect</a>
                        </div>
                    {% endif %}
                    <!--<div class="list-element">-->
                        <!--<a href="#">ΣΥΝΔΕΣΜΟΣ</a>-->
                    <!--</div>-->
                </div>
                <div class="header-txt">
                    <div class="big">
                        Βελτίωσε
                    </div>
                    <div class="normal">
                        τον τρόπο με τον οποίο παρουσιάζεις<br> τον εαυτό σου στις εταιρείες
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
