{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}
    Registration
{% endblock %}

{% block dependencies %}
    <link rel="stylesheet" type="text/css" href="{% static "css/css-code/account_app/connect.css" %}">
{% endblock %}

{% block body_block %}
    {% if registered %}
        <div class="max-width-980">
            registered!!!
        </div>
    {% else %}
        <div class="max-width-980">
            <div class="form-like">
                <a class="btn btn-default" href="{% url 'social:begin' backend='linkedin-oauth2' %}">Χρήση λογαριασμού <i class="fa fa-linkedin-square"></i></a>
            </div>
            <div class="radio">
                <input type="radio" name="account-connect" id="existingAccount" class="radio"/>
                <label for="existingAccount">Σύνδεση με υπάρχον λογαριασμό</label>

                <!--login form-->
                <form id="loginForm" class="form-horizontal" method="post" action="/account/login">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" placeholder="Email" name="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" placeholder="Password" name="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">Σύνδεση</button>
                            <!--<input type="submit" value="Login" />-->
                        </div>
                    </div>
                </form>
            </div>
            <div class="radio">
                <input type="radio" name="account-connect" id="newAccount" class="radio"/>
                <label for="newAccount">Δημιουργία νέου λογαριασμού</label>

                <!--registration form-->
                <form id="registerForm" class="form-horizontal" method="post" action="/account/connect">

                    {% csrf_token %}
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" placeholder="Email" name="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" placeholder="Password" name="password1">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" placeholder="Password" name="password2">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="radio row">
                            <div class="col-sm-2">
                                <label class="control-label">Κατηγορία Χρήστη</label>
                            </div>
                            <div class="col-sm-10 radio-row">
                                <div class="col-sm-2">
                                    <input type="radio" id="graduateRadio" class="radio" name="user_type" value="1"/>
                                    <label for="graduateRadio">
                                        Απόφοιτος
                                    </label>
                                    <label for="graduateRadio" class="checked"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></label>
                                </div>
                                <div class="col-sm-2">
                                    <input type="radio" id="companyRadio" class="radio" name="user_type" value="2" checked/>
                                    <label for="companyRadio">
                                        Εταιρεία
                                    </label>
                                    <label for="companyRadio" class="checked"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">Εγγραφή</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}
