{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}
    Registration
{% endblock %}

{% block dependencies %}
    <link rel="stylesheet" type="text/css" href="{% static "css/css-code/account_app/connect.css" %}">
{% endblock %}

{% block body_block %}
    {% if registered %}
        <div class="max-width-980">
            registered!!!
        </div>
    {% else %}
        <div class="max-width-980">
            <div class="radio-container">
                <input type="radio" name="account-connect" id="existingAccount" class="radio"/>
                <label for="existingAccount">Σύνδεση με υπάρχον λογαριασμό!</label>

                <!--login form-->
                <form id="loginForm" class="form-horizontal" method="post" action="/account/login">
                    {% csrf_token %}
                    <div class="col-sm-6 col-sm-offset-3">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Email</label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control" placeholder="Email" name="email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Password</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" placeholder="Password" name="password">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-default">Σύνδεση</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="radio-container">
                <input type="radio" name="account-connect" id="newAccount" class="radio"/>
                <label for="newAccount">Δημιουργία νέου λογαριασμού</label>

                <!--registration form-->
                <form id="registerForm" class="form-horizontal" method="post" action="/account/connect">

                    {% csrf_token %}
                    <div class="col-sm-6 col-sm-offset-3">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Email</label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control" placeholder="Email" name="email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Password</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" placeholder="Password" name="password1">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Password Again</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" placeholder="Password" name="password2">
                            </div>
                        </div>
                        <div class="form-group hidden">
                            <div class="radio row">
                                <div class="col-sm-3">
                                    <label class="control-label">Κατηγορία Χρήστη</label>
                                </div>
                                <div class="col-sm-9 radio-row">
                                    <div class="col-sm-2">
                                        <input type="radio" id="graduateRadio" class="radio" name="user_type" value="1" checked/>
                                        <label for="graduateRadio">
                                            Απόφοιτος
                                        </label>
                                        <label for="graduateRadio" class="checked"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></label>
                                    </div>
                                    <div class="col-sm-2">
                                        <input type="radio" id="companyRadio" class="radio" name="user_type" value="2"/>
                                        <label for="companyRadio">
                                            Εταιρεία
                                        </label>
                                        <label for="companyRadio" class="checked"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-default">Εγγραφή</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}
