{% extends 'account_app/account_app_base.html' %}

{% load staticfiles %}

{% block title %}Index page{% endblock %}

{% block dependencies %}
    <script src="{% static 'js/js-code/account_app/app.js' %}"></script>
{% endblock %}

{% block body_content_block %}
    <div class="max-width-980" ng-controller="IndexController">
        {% if user.is_authenticated %}
            <div>
                Αυτό εδώ εμφανίζεται μόνο όταν ο χρήστης είναι συνδεδεμένος
            </div>
            <div>
                <a class="btn btn-default" href="/interview">Interview</a>
            </div>
        {% endif %}
    </div>
{% endblock %}
