{% extends 'account_app/account_app_base.html' %}

{% load staticfiles %}

{% block title %}Profile page{% endblock %}

{% block dependencies %}
    <link rel="stylesheet" type="text/css" href="{% static "css/css-code/account_app/personal_profile.css" %}">
    <script src="{% static 'js/js-code/account_app/controllers/personal_profile.js' %}"></script>
{% endblock %}

{% block body_content_block %}
    <div class="max-width-980" ng-controller="PersonalProfileController">
      <form name="updatePersonalProfile">
        {% csrf_token %}
        <div class="col-md-6"></div>
        <div class="col-md-6">
          <div ng-hide="edit_flag">
            <div class="profile-name">{{ current_user_detail.last_name }} {{ current_user_detail.first_name }}</div>
            <div class="current-title">front-end developer</div>
            <div class="current-description">Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</div>
          </div>
          <div ng-show="edit_flag">
            <div class="form-group">
              <!--<div class="col-md-6"><input type="text" class="form-control" value="{{ current_user_detail.last_name }}" placeholder="Last Name" ng-model="profile.last_name" name="profile[last_name]"></div>-->
              <!--<div class="col-md-6"><input type="text" class="form-control" value="{{ current_user_detail.first_name }}" placeholder="First Name" ng-model="profile.first_name" name="profile[first_name]" ng-initial></div>-->
              <div class="col-md-6"><input type="text" class="form-control" value="{{ current_user_detail.last_name }}" placeholder="Last Name" ng-model="profile.last_name" name="last_name"></div>
              <div class="col-md-6"><input type="text" class="form-control" value="{{ current_user_detail.first_name }}" placeholder="First Name" ng-model="profile.first_name" name="first_name" ng-initial></div>
            </div>
          </div>
        </div>
        <button type="button" ng-click="editForm()">Edit</button>
        <button ng-click="updateProfile()">Submit</button>
      </form>
    </div>
{% endblock %}
