{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Profile{% endblock %}

{% block dependencies %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/css-code/account_app/personal_profile.css' %}">
    <script src="{% static 'js/js-code/account_app/personal_profile.js' %}"></script>
    <!-- import jquery ui for the datepicker -->
    <script src="{% static 'js/jquery-ui-1.11.4.custom/jquery-ui.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'js/jquery-ui-1.11.4.custom/jquery-ui.min.css' %}">
{% endblock %}

{% block body_block %}
    <div class="max-width-980">
        {% if current_user.user_type == 1 %}
            <!-- form for user type G -->
            <form class="form-horizontal" method="post" action="/account/update_profile_Gtype" enctype="multipart/form-data">
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                <div class="col-sm-12 profile-container">
                    <!-- row -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="col-sm-3">
                                    {% if not current_user_detail.alumn %}
                                        <div class="alumni">
                                            <span class="glyphicon glyphicon-asterisk"></span>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="col-sm-6">
                                    {% if current_user_detail.passion %}
                                        <div class="no-edit-state passion">
                                            <i class="fa fa-quote-left"></i>
                                                {{ current_user_detail.passion }}
                                            <i class="fa fa-quote-right"></i>
                                        </div>
                                    {% else %}
                                        <div class="no-edit-state empty-field"><label class="control-label">Πάθος</label></div>
                                    {% endif %}
                                        <input type="text" class="form-control edit-state" placeholder="Στόχος" value="{{ current_user_detail.passion }}" name="passion">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- row -->
                    <div class="row m-t-50">
                        <div class="col-sm-5">
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-sm-12 no-edit-state">
                                        {% if current_user_detail.last_name %}
                                            <span class="name-placeholder">{{ current_user_detail.last_name }}</span>
                                        {% else %}
                                            <span class="empty-field"><label class="control-label">Επώνυμο</label></span>
                                        {% endif %}
                                        {% if current_user_detail.first_name %}
                                            <span class="name-placeholder">{{ current_user_detail.first_name }}</span>
                                        {% else %}
                                            <span class="empty-field"><label class="control-label">Όνομα</label></span>
                                        {% endif %}
                                    </div>
                                    <div class="edit-state">
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" placeholder="Επώνυμο" value="{{ current_user_detail.last_name }}" name="last_name">
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" placeholder="Όνομα" value="{{ current_user_detail.first_name }}" name="first_name">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <div class="no-edit-state">
                                            {% if current_user_detail.location %}
                                                <div class="location">
                                                    {{ current_user_detail.location }}
                                                    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                                                </div>
                                            {% else %}
                                                <div class="empty-field">
                                                    <label class="control-label">Πόλη διαμονής</label>
                                                </div>
                                            {% endif %}
                                        </div>
                                        <input type="text" class="form-control edit-state" placeholder="Πόλη διαμονής" value="{{ current_user_detail.location }}" name="location">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                {% if avatar_path %}
                                    <img src="{{ avatar_path }}" class="col-sm-12">
                                {% else %}
                                    <div class="empty-avatar"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></div>
                                {% endif %}
                                <input type="file" name="avatar edit-state">
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="row form-group m-t-50">
                                <div class="col-sm-12">
                                    <div class="no-edit-state">
                                        {% if current_user_detail.status %}
                                            <div class="status row">
                                                <div class="col-sm-1">
                                                    <i class="fa fa-briefcase"></i>
                                                </div>
                                                <div class="col-sm-11 text-justify">
                                                    {{ current_user_detail.status }}
                                                </div>
                                            </div>
                                        {% else %}
                                            <div class="empty-field col-sm-9 no-padding"><label class="control-label">Τρέχουσα Κατάσταση</label></div>
                                        {% endif %}
                                    </div>
                                    <input type="text" class="form-control edit-state" placeholder="Τρέχουσα Κατάσταση" value="{{ current_user_detail.status }}" name="status">
                                </div>
                            </div>
                            <div class="row m-t-50">
                                <div class="col-sm-6 col-sm-offset-3 no-padding">
                                    <label class="col-sm-12 grey-label">Κύριες Δεξιότητες</label>
                                    <div class="col-sm-12" id="skillTopVal">
                                        <div class="skills-owned">
                                            <!-- skills that the user already has - contains the ajax results -->
                                            {% if current_user_detail.skill_top_val1 %}
                                                <span class="result-item">{{ current_user_detail.skill_top_val1 }}</span>
                                            {% endif %}
                                            {% if current_user_detail.skill_top_val2 %}
                                                <span class="result-item">{{ current_user_detail.skill_top_val2 }}</span>
                                            {% endif %}
                                            {% if current_user_detail.skill_top_val3 %}
                                                <span class="result-item">{{ current_user_detail.skill_top_val3 }}</span>
                                            {% endif %}
                                        </div>
                                        <input type="text" class="form-control edit-state">
                                        <input type="hidden" class="form-control edit-state" name="skill_top_val1">
                                        <input type="hidden" class="form-control edit-state" name="skill_top_val2">
                                        <input type="hidden" class="form-control edit-state" name="skill_top_val3">
                                        <div class="skills-query-result edit-state">
                                            <!-- skills that the user has added - contains the ajax results -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-3 no-padding m-t-30">
                                    <label class="col-sm-12 grey-label">Δευτερεύουσες Δεξιότητες</label>
                                    <div class="col-sm-12" id="skillSecondaryVal">
                                        <div class="skills-owned">
                                            <!-- skills that the user already has - contains the ajax results -->
                                            {% if current_user_detail.skill_secondary_val1 %}
                                                <span class="result-item">{{ current_user_detail.skill_secondary_val1 }}</span>
                                            {% endif %}
                                            {% if current_user_detail.skill_secondary_val2 %}
                                                <span class="result-item">{{ current_user_detail.skill_secondary_val2 }}</span>
                                            {% endif %}
                                            {% if current_user_detail.skill_secondary_val3 %}
                                                <span class="result-item">{{ current_user_detail.skill_secondary_val3 }}</span>
                                            {% endif %}
                                        </div>
                                        <input type="text" class="form-control edit-state">
                                        <input type="hidden" class="form-control edit-state" name="skill_secondary_val1">
                                        <input type="hidden" class="form-control edit-state" name="skill_secondary_val2">
                                        <input type="hidden" class="form-control edit-state" name="skill_secondary_val3">
                                        <div class="skills-query-result edit-state">
                                            <!-- skills that the user has added - contains the ajax results -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-3 no-padding m-t-30">
                                    <label class="col-sm-12 grey-label">Περιοχές Εξειδίκευσης</label>
                                    <div class="col-sm-12" id="expertiseAreas">
                                        <div class="skills-owned">
                                            <!-- skills that the user already has - contains the ajax results -->
                                            {% if current_user_detail.expertise_area_val1 %}
                                                <span class="result-item">{{ current_user_detail.expertise_area_val1 }}</span>
                                            {% endif %}
                                            {% if current_user_detail.expertise_area_val2 %}
                                                <span class="result-item">{{ current_user_detail.expertise_area_val2 }}</span>
                                            {% endif %}
                                            {% if current_user_detail.expertise_area_val3 %}
                                                <span class="result-item">{{ current_user_detail.expertise_area_val3 }}</span>
                                            {% endif %}
                                        </div>
                                        <input type="text" class="form-control edit-state">
                                        <input type="hidden" class="form-control edit-state" name="expertise_area_val1">
                                        <input type="hidden" class="form-control edit-state" name="expertise_area_val2">
                                        <input type="hidden" class="form-control edit-state" name="expertise_area_val3">
                                        <div class="skills-query-result edit-state">
                                            <!-- skills that the user has added - contains the ajax results -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- row -->
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div class="no-edit-state">
                                    {% if current_user_detail.date_of_birth %}
                                        <div>{{ current_user_detail.date_of_birth }}</div>
                                    {% else %}
                                        <div class="empty-field"><label class="control-label">Ημερομηνία Γέννησης</label></div>
                                    {% endif %}
                                </div>
                                <input class="form-control edit-state jquery-datepicker" placeholder="Ημερομηνία Γέννησης" value="{{ current_user_detail.date_of_birth }}" name="date_of_birth">
                            </div>
                        </div>
                    </div>
                    <!-- row -->
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <div class="no-edit-state">
                                    {% if current_user_detail.phone_number %}
                                        <div>{{ current_user_detail.phone_number }}</div>
                                    {% else %}
                                        <div class="empty-field"><label class="control-label">Τηλέφωνο</label></div>
                                    {% endif %}
                                </div>
                                <input type="text" class="form-control edit-state" placeholder="Τηλέφωνο" value="{{ current_user_detail.phone_number }}" name="phone_number">
                            </div>
                        </div>
                    </div>
                    <!-- row -->
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 separator">
                        </div>
                    </div>
                    <!-- row - buttons -->
                    <div class="form-group row m-t-50">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-default edit-state"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
                            <button type="button" class="btn btn-default no-edit-state"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
                            <button type="button" class="btn btn-default edit-state"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                        </div>
                    </div>
                </div>
            </form>
        {% elif current_user.user_type == 2 %}
            <!-- form for user type C -->
            <form class="form-horizontal" method="post" action="/account/update_profile_Ctype" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-sm-9 col-sm-offset-1 profile-container">
                    <!-- row -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label col-sm-3">Επωνυμία Εταιρείας</label>
                                <div class="col-sm-9">
                                    {% if current_user_detail.official_name %}
                                        <div class="no-edit-state">{{ current_user_detail.official_name }}</div>
                                    {% else %}
                                        <div class="no-edit-state empty-field"></div>
                                    {% endif %}
                                        <input type="text" class="form-control edit-state" placeholder="{{ current_user_detail.official_name }}" value="{{ current_user_detail.official_name }}" name="official_name">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- row -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label col-sm-3">Στόχοι - Προφίλ Εταιρείας</label>
                                <div class="col-sm-9">
                                    {% if current_user_detail.tagline %}
                                        <div class="no-edit-state">{{ current_user_detail.tagline }}</div>
                                    {% else %}
                                        <div class="no-edit-state empty-field"></div>
                                    {% endif %}
                                        <input type="text" class="form-control edit-state" placeholder="{{ current_user_detail.tagline }}" value="{{ current_user_detail.tagline }}" name="tagline">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- row -->
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <label>Στοιχεία Υπευθύνου</label>
                        </div>
                    </div>
                    <!-- row -->
                    <div class="row">
                        <div class="col-sm-5">
                            <img src="{{ avatar_path }}" class="col-sm-12">
                            <input type="file" name="avatar edit-state">
                        </div>
                        <div class="col-sm-7">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Όνομα</label>
                                <div class="col-sm-9">
                                    {% if current_user_detail.first_name %}
                                        <div class="no-edit-state">{{ current_user_detail.first_name }}</div>
                                    {% else %}
                                        <div class="no-edit-state empty-field"></div>
                                    {% endif %}
                                    <input type="text" class="form-control edit-state" placeholder="{{ current_user_detail.first_name }}" value="{{ current_user_detail.first_name }}" name="first_name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Επώνυμο</label>
                                <div class="col-sm-9">
                                    {% if current_user_detail.last_name %}
                                        <div class="no-edit-state">{{ current_user_detail.last_name }}</div>
                                    {% else %}
                                        <div class="no-edit-state empty-field"></div>
                                    {% endif %}
                                    <input type="text" class="form-control edit-state" placeholder="{{ current_user_detail.last_name }}" value="{{ current_user_detail.last_name }}" name="last_name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Ημερομηνία Γέννησης</label>
                                <div class="col-sm-9">
                                    {% if current_user_detail.date_of_birth %}
                                        <div class="no-edit-state">{{ current_user_detail.date_of_birth }}</div>
                                    {% else %}
                                        <div class="no-edit-state empty-field"></div>
                                    {% endif %}
                                    <input type="" class="form-control edit-state jquery-datepicker" placeholder="{{ current_user_detail.date_of_birth }}" value="{{ current_user_detail.date_of_birth }}" name="date_of_birth">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- row -->
                    <div class="row form-group">
                        <div class="col-sm-6">
                            <label class="col-sm-3 control-label">Θέση</label>
                            <div class="col-sm-9">
                                {% if current_user_detail.position %}
                                    <div class="no-edit-state">{{ current_user_detail.position }}</div>
                                {% else %}
                                    <div class="no-edit-state empty-field"></div>
                                {% endif %}
                                    <input type="text" class="form-control edit-state" placeholder="{{ current_user_detail.position }}" value="{{ current_user_detail.position }}" name="position">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label class="col-sm-3 control-label">Τηλέφωνο</label>
                            <div class="col-sm-9">
                                {% if current_user_detail.phone_number %}
                                    <div class="no-edit-state">{{ current_user_detail.phone_number }}</div>
                                {% else %}
                                    <div class="no-edit-state empty-field"></div>
                                {% endif %}
                                    <input type="text" class="form-control edit-state" placeholder="{{ current_user_detail.phone_number }}" value="{{ current_user_detail.phone_number }}" name="phone_number">
                            </div>
                        </div>
                    </div>
                    <!-- row - buttons -->
                    <div class="form-group row m-t-50">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-default edit-state"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
                            <button type="button" class="btn btn-default no-edit-state"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
                            <button type="button" class="btn btn-default edit-state"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                        </div>
                    </div>
                </div>
            </form>
        {% endif %}
    </div>
{% endblock %}
