{% extends 'account_app/account_app_base.html' %}

{% load staticfiles %}

{% block title %}Profile page{% endblock %}

{% block dependencies %}
    <link rel="stylesheet" type="text/css" href="{% static "css/css-code/account_app/personal_profile.css" %}">
    <script src="{% static 'js/js-code/account_app/controllers/personal_profile.js' %}"></script>
{% endblock %}

{% block body_content_block %}
    <div class="max-width-980" ng-controller="PersonalProfileController">
      <form name="updatePersonalProfile">
        {% csrf_token %}
        <div class="col-md-6"></div>
        <div class="col-md-6">
          <div ng-hide="edit_flag">
            <div ng-show="django_data_flag">
              <div class="profile-name">{{ current_user_detail.last_name }} {{ current_user_detail.first_name }}</div>
              <div class="current-title">{{ current_user_detail.status }}</div>
              <div class="current-description">{{ current_user_detail.passion }}</div>
            </div>
            <div ng-hide="django_data_flag">
              <div class="profile-name">$profile.last_name$ $profile.first_name$</div>
              <div class="current-title">$profile.status$</div>
              <div class="current-description">$profile.passion$</div>
            </div>
          </div>
          <div ng-show="edit_flag">
            <div class="form-group">
              <div class="col-md-6"><input type="text" class="form-control" value="{{ current_user_detail.last_name }}" placeholder="Last Name" ng-model="profile.last_name" name="last_name" ng-initial></div>
              <div class="col-md-6"><input type="text" class="form-control" value="{{ current_user_detail.first_name }}" placeholder="First Name" ng-model="profile.first_name" name="first_name" ng-initial></div>
              <div class="col-md-12"><input type="text" class="form-control" value="{{ current_user_detail.status }}" placeholder="Status" ng-model="profile.status" name="status" ng-initial></div>
              <div class="col-md-12"><input type="text" class="form-control" value="{{ current_user_detail.passion }}" placeholder="Passion" ng-model="profile.passion" name="passion" ng-initial></div>
            </div>
          </div>
        </div>
        <button type="button" ng-click="editForm()">Edit</button>
        <button ng-click="updateProfile()">Submit</button>
      </form>
    </div>
{% endblock %}
