{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Registration{% endblock %}

{% block body_block %}
    {% if registered %}
    <div>registered!!!</div>
    {% else %}
    <form id="register" method="post" action="/account/register">

        {% csrf_token %}
        <!--{{ form.as_p }}-->
        <div>
            <label for="email">Your email: </label>
            <input id="email" type="email" name="email" value="{{ email }}">
        </div>
        <div>
            <label for="date_of_birth">Date of birth: </label>
            <input id="date_of_birth" type="date" name="date_of_birth" value="{{ date_of_birth }}">
        </div>
        <div>
            <label for="password1">Password: </label>
            <input id="password1" type="password" name="password1" value="{{ password1 }}">
        </div>
        <div>
            <label for="password2">Password Again: </label>
            <input id="password2" type="password" name="password2" value="{{ password2 }}">
        </div>
        <div>
            <input type="radio" name="user_type" value="1"> Graduate<br>
            <input type="radio" name="user_type" value="2"> Company<br>
        </div>
        <div>
            <input type="submit" name="submit" value="Register" />
        </div>
    </form>
    {% endif %}
{% endblock %}
