/* ------------------
  APPLICATION GENERAL
 ------------------ */
.app{
    color: #5D5B5B;
    padding: 100px 70px;
    min-height: 100%;
}
.app:last-of-type{
    padding-bottom: 140px;
}

.app-color-base{
    background: #ecf0f1;
}
.app-color-1,
.app-color-2,
.app-color-3{
    color: #ecf0f1;
}
.app-color-1{
    background: #0FFDBA;
}
.app-color-2{
    background: #B1E650;
}
.app-color-3{
    background: #FDB52B;
}
.app .title{
    font-size: 38px;
    font-weight: 700;
    text-align: center;
    font-family: "robotoslab-bold";
}
.app .description{
    text-align: justify;
    font-size: 22px;
    line-height: 34px;
    margin-top: 32px;
}

  /* ------------------
  RESPONSIVENESS
 ------------------ */
 @media screen and (max-width: 680px) {
    .app{
        padding-left: 40px;
        padding-right: 40px;
    }
 }