/*--------------------------------------
BUTTONS
---------------------------------------*/
.btn{
  padding: 10px 20px;
  color: #fff;
  font-family: lato-heavy;
  font-size: 14px;
  letter-spacing: 1px;
  border-width: 0;
}
.btn:hover{
  text-decoration: none;
}
.btn.btn-default{
    background: #c0392b;
    color: #fff;
}

.btn.btn-default:hover{
    background: #e74c3c;
}
.btn-default:focus,
.btn-default:active
.btn:focus,
.btn:active{
    outline: none !important;
    border-style: solid;
}

/* ------------------
  BUTTONS RED
 ------------------ */
 .btn.btn-red{
    color: #fff;
    background: #CB4335;
    border-bottom: 2px solid black;
 }
 .btn.btn-red:hover{
    background: #d11919;
 }
.btn.btn-red:active,
.btn.btn-red:focus{
    color: #fff;
}
/* ------------------
  APPLICATION BUTTONS
 ------------------ */
.btn.btn-default.btn-grey{
    color: #284850;
    background: #dadada;
    border: none;
}
.btn.btn-default.btn-grey:hover{
    background: #d3dcde;
}
.btn.btn-default{
  margin-top: 20px;
}
