/*--------------------------------------
BUTTONS
---------------------------------------*/
.btn{
  border-radius: 3px;
  padding: 10px 20px;
  color: #fff;
  font-family: lato-heavy;
  font-size: 14px;
  transition-duration: 0.5s;
  letter-spacing: 1px;
}
.btn:hover{
  text-decoration: none;
}
.btn.btn-default{
    background: #c0392b;
    border-width: 0;
    color: #fff;
}
.btn.btn-default:hover{
    background: #e74c3c;
}
.btn-default:focus,
.btn-default:active
.btn:focus,
.btn:active{
    outline: none !important;
    border-style: solid;
}

/* ------------------
  BUTTONS RED
 ------------------ */
 .btn.btn-red{
    color: #fff;
    background: #CB4335;
    border-bottom: 2px solid black;
 }
 .btn.btn-red:hover{
    background: #d11919;
 }
.btn.btn-red:active,
.btn.btn-red:focus{
    color: #fff;
}
/* ------------------
  APPLICATION BUTTONS
 ------------------ */
 .app .buttons{
    text-align: center;
    margin-top: 20px;
}
.app .buttons .btn{
    color: #284850;
    background: #ecf0f1;
    border: none;
}
.app .buttons .btn:hover{
    background: #d3dcde;
}