{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Interview Preparation{% endblock %}

{% block dependencies %}<link rel="stylesheet" type="text/css" href="{% static 'css/css-code/general_styles/app.css' %}">{% endblock %}

{% block body_block %}
    <div class="app app-color-base">
        <div class="max-width-980">
            <div class="title">
                Προετοιμασία Συνέντευξης
            </div>
            <div class="description">
                Γενικές Πληροφορίες. Βασική επιδίωξή των διοργανωτών είναι να προσφέρουν όσο το δυνατόν περισσότερες προτάσεις για την ανάδειξη και δημιουργική αξιοποίηση του ελεύθερου χρόνου μέσα από δραστηριότητες στις οποίες μπορεί να συμμετάσχει όλη η οικογένεια.
            </div>
        </div>
    </div>
    <div class="app app-color-1">
        <div class="max-width-980">
            <div class="title">
                Συνειδητοποιημένος
            </div>
            <div class="description">
                Κύριος στόχος του 2ου Φεστιβάλ Χειροτεχνίας είναι η ανάδειξη της δημιουργικότητας των παιδιών, η ευαισθητοποίησή τους στην τέχνη, η καλλιέργεια της συλλογικής προσπάθειας και της εικαστικής έκφρασης μέσα από μία ποικιλία εργαστηρίων, σχεδιασμένων με γνώμονα ένα βασικό χαρακτηριστικό: την ανάγκη μικρών και μεγάλων να δημιουργούν.
            </div>
            <div class="buttons">
                <a class="btn btn-default" href="questions/sav">Εκκίνηση</a>
            </div>
        </div>
    </div>
    <div class="app app-color-2">
        <div class="max-width-980">
            <div class="title">
                Ψαγμένος
            </div>
            <div class="description">
                Κύριος στόχος του 2ου Φεστιβάλ Χειροτεχνίας είναι η ανάδειξη της δημιουργικότητας των παιδιών, η ευαισθητοποίησή τους στην τέχνη, η καλλιέργεια της συλλογικής προσπάθειας και της εικαστικής έκφρασης μέσα από μία ποικιλία εργαστηρίων, σχεδιασμένων με γνώμονα ένα βασικό χαρακτηριστικό: την ανάγκη μικρών και μεγάλων να δημιουργούν.
            </div>
            <div class="buttons">
                <a class="btn btn-default" href="questions/pro">Εκκίνηση</a>
            </div>
        </div>
    </div>
    <div class="app app-color-3">
        <div class="max-width-980">
            <div class="title">
                Πανέτοιμος
            </div>
            <div class="description">
                Κύριος στόχος του 2ου Φεστιβάλ Χειροτεχνίας είναι η ανάδειξη της δημιουργικότητας των παιδιών, η ευαισθητοποίησή τους στην τέχνη, η καλλιέργεια της συλλογικής προσπάθειας και της εικαστικής έκφρασης μέσα από μία ποικιλία εργαστηρίων, σχεδιασμένων με γνώμονα ένα βασικό χαρακτηριστικό: την ανάγκη μικρών και μεγάλων να δημιουργούν.
            </div>
            <div class="buttons">
                <a class="btn btn-default" href="questions/exp">Εκκίνηση</a>
            </div>
        </div>
    </div>
{% endblock %}
