{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Questions{% endblock %}

{% block dependencies %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/css-code/interview_prep_app/app_environment.css' %}">
    <script src="{% static 'js/js-code/interview_prep_app/questions.js' %}"></script>
{% endblock %}

{% block body_block %}

    <div class="interview-summary">
        <div class="header">
            <div class="header-left">
                <img src="{% static 'images/logos/effectlogo-full-white.png' %}" />
            </div>
            <div class="header-right">
                <a class="btn btn-default" href="/interview/">Back to Home</a>
            </div>
        </div>

        <div class="footer">
            <span class="text-bold">INTERVIEW PREPARATION</span>
             | {{ interview_level }} LEVEL
        </div>
    </div>



{% endblock %}
