{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Questions{% endblock %}

{% block dependencies %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/css-code/interview_prep_app/app_environment.css' %}">
    <script src="{% static 'js/js-code/interview_prep_app/questions.js' %}"></script>
{% endblock %}

{% block body_block %}

    <div class="app-environment">
        <div class="header">
            <div class="header-left">
                <img src="{% static 'images/logos/effectlogo-full-white.png' %}" />
            </div>
            <div class="header-right">
                <a class="btn btn-default" href="/interview/">Back to Home</a>
            </div>
        </div>
        <div class="body">
            <!-- left column-->
            <div class="content-left">
                <div class="progress">
                  <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%">
                    <span class="sr-only">80% Complete</span>
                  </div>
                </div>
                <div class="text-light">
                    ΕΡΩΤΗΣΗ {{ interviewQA.question_num }} #
                </div>
                <div class="text-bold text-frame">
                    {{ interviewQA.question_text }}
                </div>
                <div class="text-light">
                    <span>ΤΙ ΑΞΙΟΛΟΓΕΙΤΑΙ:</span>
                    <span class="text-green">{{ interviewQA.evaluated_skills }}</span>
                </div>
                <form class="interview-answer" method="post">
                    {% csrf_token %}
                    <input name="user" value="{{ request.user.id }}" class="hidden">
                    <input name="interviewQA" value="{{ interviewQA.id }}" class="hidden">
                    <textarea name="answer" class="4" rows="10"></textarea>
                    <button type="submit" class="btn" style="display: inline-block;">ΑΠΟΘΗΚΕΥΣΗ</span></button>
                </form>
            </div>
            <!-- right column-->
            <div class="content-right">
                <div class="section">
                    <div class="title">
                    Συμβουλη
                    </div>
                    <div class="content">
                        {{ interviewQA.answer_advice }}
                    </div>
                </div>
                <div class="section">
                    <div class="title">
                    PRO TIP
                    </div>
                    <div class="content">
                        {{ interviewQA.answer_pro_tip }}
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="text-light">Από:</div>
                            <div class="name">{{ interviewQA.specialist_full_name }}</div>
                            <div class="text-light">{{ interviewQA.specialist_position }}</div>
                            <div class="text-light">{{ interviewQA.specialist_company }}</div>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <div class="title">
                    Συμβουλη
                    </div>
                    <div class="content">
                        Ιδέες σε τομείς εκπαίδευσης, καινοτομίας, προσφοράς, αγροτικής ανάπτυξης, δημόσιας υγείας βρίσκουν υποστήριξη, ενώ οι ίδιοι προσκαλούνται να συμμετάσχουν σε πρόγραμμα διεθνούς ευαισθητοποίησης και κατάρτισης στην Αμερική. Από τη δημιουργία ψηφιακών εργαστηρίων φυσικής για μαθητές Λυκείου μέχρι διαδραστικά εργαστήρια γραφής κώδικα και από τη δημιουργία παγκοσμίως πρωτοποριακού software στον τομέα της αρχιτεκτονικής μέχρι την πρώτη ψηφιακή κοινότητα για εθελοντές αιμοδότες στην χώρα, είναι μερικά από τα θέματα του προγράμματος Angelopoulos Clinton GIU θα έχετε την ευκαιρία να γνωρίσετε στο Athens Science Festival 2016.
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <span class="text-bold">INTERVIEW PREPARATION</span>
             | {{ interview_level }} LEVEL
        </div>
    </div>

    <!---------------------------------------------------------------->
    <!-- TEMPLATES USED BY JQUERY AND MUSTACHE TO PRODUCE HTML CODE -->
    <!---------------------------------------------------------------->

    <!-------------------- BEGINNING OF TEMPLATE -------------------->
    <script id="TMPLappContentBody" type="text/template">
        <!-- left column -->
        <div class="content-left">
            {% verbatim %}
            <div class="progress">
              <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="{{ progress_bar_value }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress_bar_value }}%">
                <span class="sr-only">{{ progress_bar_value }}% Complete</span>
              </div>
            </div>
            <div class="text-light">
                ΕΡΩΤΗΣΗ {{ question_num }} #
            </div>
            <div class="text-bold text-frame">
                {{ question_text }}
            </div>
            <div class="text-light">
                <span>ΤΙ ΑΞΙΟΛΟΓΕΙΤΑΙ:</span>
                <span class="text-green">{{ evaluated_skills }}</span>
            </div>
            {% endverbatim %}
            <form class="interview-answer" method="post">
                {% csrf_token %}
                {% verbatim %}
                <input name="user" value="{{ request.user.id }}" class="hidden">
                <input name="interviewQA" value="{{ id }}" class="hidden">
                <textarea name="answer" class="4" rows="10"></textarea>
                <button type="submit" class="btn" style="display: inline-block;">ΑΠΟΘΗΚΕΥΣΗ</span></button>
                {% endverbatim %}
            </form>
        </div>
        <!-- right column -->
        {% verbatim %}
        <div class="content-right">
            <div class="section">
                <div class="title">
                Συμβουλη
                </div>
                <div class="content">
                    {{ answer_advice }}
                </div>
            </div>
            <div class="section">
                <div class="title">
                PRO TIP
                </div>
                <div class="content">
                    {{ answer_pro_tip }}
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="text-light">Από:</div>
                        <div class="name">{{ specialist_full_name }}</div>
                        <div class="text-light">{{ specialist_position }}</div>
                        <div class="text-light">{{ specialist_company }}</div>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="title">
                Συμβουλη
                </div>
                <div class="content">
                    Ιδέες σε τομείς εκπαίδευσης, καινοτομίας, προσφοράς, αγροτικής ανάπτυξης, δημόσιας υγείας βρίσκουν υποστήριξη, ενώ οι ίδιοι προσκαλούνται να συμμετάσχουν σε πρόγραμμα διεθνούς ευαισθητοποίησης και κατάρτισης στην Αμερική. Από τη δημιουργία ψηφιακών εργαστηρίων φυσικής για μαθητές Λυκείου μέχρι διαδραστικά εργαστήρια γραφής κώδικα και από τη δημιουργία παγκοσμίως πρωτοποριακού software στον τομέα της αρχιτεκτονικής μέχρι την πρώτη ψηφιακή κοινότητα για εθελοντές αιμοδότες στην χώρα, είναι μερικά από τα θέματα του προγράμματος Angelopoulos Clinton GIU θα έχετε την ευκαιρία να γνωρίσετε στο Athens Science Festival 2016.
                </div>
            </div>
        </div>
        {% endverbatim %}
    </script><!--END OF TEMPLATE-->


{% endblock %}
